In [21]:
%matplotlib widget
import matplotlib.pylab as plt
import numpy as np
import pandas as pd

from sklearn.model_selection import StratifiedShuffleSplit
from sklearn.impute import SimpleImputer

# Figure formatting

In [19]:
# extra code – the next 5 lines define the default font sizes
plt.rc('font', size=14)
plt.rc('axes', labelsize=14, titlesize=14)
plt.rc('legend', fontsize=14)
plt.rc('xtick', labelsize=10)
plt.rc('ytick', labelsize=10)

# Load data

In [77]:
df = pd.read_csv('data/m4_gaia.csv')

#keep only relevant columns
df = df[['index','x','y','r','phot_g_mean_mag','bp_rp','member']]

# df = df.dropna() #drop missing values
# df = df.reset_index()
# df = df.set_index('index')

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99850 entries, 0 to 99849
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            99850 non-null  int64
 1   x                99850 non-null  float64
 2   y                99850 non-null  float64
 3   r                99850 non-null  float64
 4   phot_g_mean_mag  99564 non-null  float64
 5   bp_rp            89899 non-null  float64
 6   member           99850 non-null  bool
dtypes: bool(1), float64(5), int64(1)
memory usage: 4.7 MB

In [79]:
df.member.sum()/len(df)

0.20510766149223836

In [80]:
#stratified split between member and field stars
split = StratifiedShuffleSplit(n_splits=1,test_size=0.1,random_state=42)

for train_index, test_index in split.split(df,df['member']):
    strat_train_set = df.loc[train_index]
    strat_test_set = df.loc[test_index]

# #set index
# strat_train_set = strat_train_set.set_index("index")
# strat_test_set = strat_test_set.set_index("index")

# strat_train_set['member'].value_counts()/len(strat_train_set)

# Data cleaning

In [34]:
SimpleImputer

              x         y         r  phot_g_mean_mag     bp_rp  member
index
75226 -4.240537 -0.448138  4.264151        20.297108  1.340054   False
79929 -1.001421  0.411505  1.082673        17.532713  1.397224    True
87316 -0.151963 -0.431134  0.457131        17.741789  1.377184    True
292    0.216300 -3.118469  3.125961        21.160225  1.018385   False
9249   0.491719  0.830627  0.965261        16.324713  1.207612    True
...         ...       ...       ...              ...       ...     ...
18927  0.550552  0.021972  0.550990        19.409758       NaN   False
55612 -2.863574  2.198535  3.610209        19.052658  1.547447   False
39163  4.260605  1.954081  4.687343        20.123148  1.169725   False
4168   3.687076  2.564384  4.491169        16.195602  1.223085   False
73078 -3.006887  3.506735  4.619368        20.028578  1.174269   False

[89865 rows x 6 columns]

In [35]:
_ = strat_train_set.dropna()

In [53]:
df.set_index('index')

              x         y         r  phot_g_mean_mag     bp_rp  member
index
0     -0.520645 -4.032367  4.065840        19.071898  1.346094   False
1     -0.247061 -4.029504  4.037071        20.956590  1.893805   False
2     -0.220735 -4.032382  4.038419        20.736895  1.271973   False
3     -0.417124 -4.000791  4.022477        19.557013  1.358597   False
4     -0.026325 -4.026492  4.026578        20.776940  1.376984   False
...         ...       ...       ...              ...       ...     ...
99841  0.368710  0.100417  0.382139        18.055567  1.395365    True
99842  0.687151  0.105561  0.695212        18.354761  1.429411    True
99843  0.714341  0.107807  0.722430        16.664400  1.205822    True
99844  0.732715  0.113302  0.741424        19.549494  2.097517    True
99846  0.635014  0.052060  0.637145        17.873823  1.323227    True

[89899 rows x 6 columns]

In [63]:
for _, __ in split.split(df,df['member']):
    print( _, __)
    break

[31475 10064 54121 ... 13750  3717 43744] [ 8889 40062 30512 ... 70540 89470 79894]

In [69]:
df

              x         y         r  phot_g_mean_mag     bp_rp  member
index
0     -0.520645 -4.032367  4.065840        19.071898  1.346094   False
1     -0.247061 -4.029504  4.037071        20.956590  1.893805   False
2     -0.220735 -4.032382  4.038419        20.736895  1.271973   False
3     -0.417124 -4.000791  4.022477        19.557013  1.358597   False
4     -0.026325 -4.026492  4.026578        20.776940  1.376984   False
...         ...       ...       ...              ...       ...     ...
99841  0.368710  0.100417  0.382139        18.055567  1.395365    True
99842  0.687151  0.105561  0.695212        18.354761  1.429411    True
99843  0.714341  0.107807  0.722430        16.664400  1.205822    True
99844  0.732715  0.113302  0.741424        19.549494  2.097517    True
99846  0.635014  0.052060  0.637145        17.873823  1.323227    True

[89899 rows x 6 columns]